@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.container-content{
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
}
.background-header{
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(94, 93, 88, 0.6);
    min-height: 120px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    font-size: 40px;
    line-height: 31px;
    background-image: url("../images/icons/background-logo.png");
    background-repeat: no-repeat;
    padding: 18px 14px;
    font-weight: 700;
    color: #fff;
}

.logo-text {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
   min-width: 125px;
    color: #D8D8D8;
}

.logo-text-decoration {
    color: #18cfab;
    font-weight: 700;
}
.nav-bar{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.nav-items {
   list-style-type: none;
    margin-right:21.09px;
}

.nav-link {
    font-weight: 700;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration-line: none;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #18CFAB;
    padding-bottom: 48.74px;
    border-bottom: 2px solid #18CFAB;
}
.search-icon{
    flex-shrink: 0;
    padding: 0;
    border: 0;
    width: 21.09px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
}
.search-icon:hover.search-icon path{
    stroke: #18CFAB;
}
.search-icon:hover.search-icon circle{
    stroke: #18CFAB;
}
.background-we-are-creative {
    background-image: url("../images/sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.wordpress-theme-title {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    padding-top: 32.67%;
}
.wordpress-theme-title-decor{
    color: #18cfab;
 }

.we-are-creative-tittle {
    font-weight: 700;
    font-size: 78px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.buy-and-enjoy-tittle {
    text-transform: none;
    color: #d4d4d4;
    font-size: 40px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 134px;
}
.explore-purchase-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 243px 0;
}
.explore-purchase-item{
    list-style-type: none;
    border-radius: 5px;
}
.explore-purchase-link{
    display: block;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 14px;
    box-shadow: 0 -5px 0 #ffffff;
    border-radius: 5px;
    font-weight: 700;
    width: 170.95px;
}
.explore-purchase-item:first-of-type{
    background-color: #18CFAB;
    margin-right: 26px;

}
.explore-purchase-item:last-of-type{
    background-color: #00CBF6;
}
.benefits-list{
    width: 100%;
    min-width: 65vw;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap:wrap;
    padding-left: 0;
    margin: 6px auto 80px auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.benefits-item{
    flex: 0 0 25%;
    border-top: 2px solid #ffffff;
}
.benefits-img{
display: block;
    margin-left:auto;
    margin-right: auto;
}
.benefits-item:nth-of-type(odd){
    background-color: #1C2A33;
    color: #18CFAB;
}
.benefits-item:nth-of-type(even){
    background-color: #18CFAB;
    color: #ffffff;
}
.benefits-item:nth-of-type(odd) .benefits-img{
    padding-top:17.71%;
    padding-bottom: 9.792%;
}
.benefits-item:nth-of-type(even) .benefits-img{
    padding-top:20.417%;
    padding-bottom: 12.292%;
}
.benefits-tittle{
margin-top: 0;
    margin-bottom: 22.917%;
    text-align: center;
}
.default-tittle{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 101px;
    text-align: center;
    position: relative;
}
.default-tittle::before{
    content: "";
    position: absolute;
    border-top: 2px solid #18CFAB;
    top: 66px;
    left: calc(50% - 37.77px);
    width: 75.54px;

}
.default-tittle::after{
    content: "";
    position: absolute;
    border-top: 2px solid #18CFAB;
    width: 75.54px;
    top: 71px;
    left: calc(50% - 27.77px);
}
.our-services-tabs{
    display: flex;
    margin-top: 0;
    margin-bottom: 23px;
    justify-content: center;
    list-style-type: none;
    padding-left:0;
    flex-wrap: wrap;
}
.our-services-tab{
    cursor: pointer;
    padding: 15.5px 39px;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    text-decoration-line: none;
    background-color: #F8FCFE;
    border: 1px solid #F2F2F2;
    position: relative;
    margin-bottom: 15px;
}
.our-services-tab:hover{
    border: 1px solid #18CFAB;
}
.our-services-tab:focus{
    background-color: #18CFAB;
    border: 1px solid transparent;
    color: #fff;
}
.our-services-tab::after{
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #18CFAB;
bottom: -35px;
    left: calc(50% - 20px);
   display: none;
}
.our-services-tab:focus::after{
    display: block;
}
.our-services-list{
    padding-left: 0;
    margin: 0 0 91px 0;
}
.our-services-item{
    display: none;
}
.our-services-item img {
    object-fit: cover;
    max-height: 139px;
    max-width: 192px;
}
.our-services-text{
    margin: 0 0 0 15px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}

.background-everything-is-ready{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%) ,url("../images/sections background/section-2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.everything-is-ready-tittle{
    margin-top: 0;
    padding-top: 127px;
    margin-bottom: 12.2px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}
.everything-is-ready-text{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-top: 0;
    margin-bottom: 67px;
}
.everything-is-ready .explore-purchase-link{
    background-color: #18CFAB;
    margin-left: auto;
    margin-right: auto;

}
.explore-purchase-link-wrapper{
    padding-bottom: 127px;
}
.our-works{
    background-color: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 100px;
}
.container-content-works{
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.our-works-tittle{
    padding-bottom: 97px;
    margin-bottom: 0;
}
.our-works-tabs{
    display: flex;
    margin-top: 0;
    margin-bottom: 71px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}
.our-works-tab{
    padding: 14px 15px;
    list-style-type: none;
    font-size: 14px;
    line-height: 31px;
    border: 1px solid #DADADA;
    color: #717171;
    cursor: pointer;
}
.our-works-tab:first-of-type{
    padding: 14px 28px;
}
.our-works-tab.active{
    padding: 13px 14px;
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.our-works-tab:first-of-type.active{
    padding: 13px 27px;
}
.our-works-content{
    margin-top: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));;
    margin-bottom: 70px;
}
.our-works-item{
    list-style-type: none;
    height: 206px;
    position: relative;
}
.our-works-item.hidden{
    display: none;
}
.our-works-item>img{
width: 100%;
    max-height: 206px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.7s;
}
.our-works-item:hover.our-works-item>img{
    opacity: 0;
    visibility: hidden;
}
.our-works-item:hover{
    border-top: 2px solid #18CFAB;
}
.our-works-links-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 42px;
    align-items: center;
}
.chain-link{
    margin-right: 3px;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: 12.5px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    transition: all 0.5s;
}
.chain-link:hover{
   background-color: #18CFAB;
}
.chain-link:hover.chain-link path {
    fill: #fff;
}
.chain-link ~ a{
    padding: 14px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    transition: all 0.5s;
}
.square-link{
    border: 6px solid #18CFAB;
    width: 0;
    height: 0;
    transition: all 0.5s;
}
.chain-link ~ a:hover{
  background-color: #18CFAB;
}
.chain-link ~ a:hover .square-link{
    border: 6px solid #fff;
}
.our-works-item-tittle{
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}
.our-works-category{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    margin-top: 0;
    text-align: center;
    color: #8A8A8A;
}
.default-button{
    display: block;
    margin: auto;
    font-weight: 700;
    font-size: 14px;
    border: none;
padding: 26px 21px 21px 56px;
    color: #fff;
    background-color: #18CFAB;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.our-works-load::before{
    position: absolute;
    content: "";
    width: 16px;
    border-top: 4px solid #fff;
    border-radius: 1px;
    left: 24px;
    top: 31.5px;
}
.our-works-load::after{
    position: absolute;
    content: "";
    width: 16px;
    border-top: 4px solid #fff;
    border-radius: 1px;
    left: 24px;
    top: 31.5px;
    transform: rotate(90deg);
}
.loading-simulation{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 31.5px;
}

@keyframes arrows {
    0%,
    100% {
        color: black;
        transform: translateY(0);
    }
    50% {
        color: #18CFAB;
        transform: translateY(25px);
    }
}

.loading-simulation span {
    font-size: 25px;
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
}.loading-simulation-wrapper{
    display: none;
 }

 .breaking-news-tittle{
     margin-top: 82px;
     margin-bottom: 100px;
 }
 .breaking-news-list{
     margin-bottom: 128px;
     padding-left: 0;
     display: grid;
     grid-gap: 44px 35px;
     grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
 }
 .breaking-news-item{
     list-style-type: none;
 }
 .breaking-news-item-link{
     text-decoration-line: none;
 }
 .breaking-news-img-wrapper{
     position: relative;
 }
 .breaking-news-img-wrapper img{
     object-fit: cover;
     width: 100%;
 }
 .breaking-news-item-date{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     line-height: 25px;
     position: absolute;
     width: 70px;
     height: 68px;
     background-color: #203E38;
     top: 0;
     right: 0;
     color: #FFFF;
     transition: background-color 0.3s;
 }
 .breaking-news-item-tittle{
     margin-bottom: 0;
     margin-top: 3.24px;
     padding-left: 15px;
     font-weight: 700;
     font-size: 17.9885px;
     line-height: 40px;
     color: #717171;
     transition: color 0.3s;
 }
 .breaking-news-item:hover .breaking-news-item-tittle{
     color: #18CFAB;
 }
.breaking-news-item:hover .breaking-news-item-date{
    background-color: #18CFAB;
}
 .breaking-news-item-foot{
     display: flex;
     color: #777777;
     font-weight: 300;
     font-size: 13.991px;
     padding-left: 20px;
     padding-bottom: 15px;
 }
 .breaking-news-foot-by{
     padding-right: 16px;
 }
 .breaking-news-foot-comment{
     padding-left: 16px;
     border-left: 1px solid #777777;
 }
 .people-say{
     position: relative;
 }
 .people-say-background{
     background-image: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.8) 100%),url("../images/sections background/section-3.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }
.people-say-tittle{
    padding-top: 98px;
    margin-bottom: 99px;
    color: #FFF;
}
.people-say-tittle::before{
    top: 164px;
}
.people-say-tittle::after{
    top: 169px;
}
.people-say-decoration-coma{
    text-align: center;
    margin-bottom: 36px;
}
.people-say-text{
    margin: 0;
    color: #BBBBBB;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}
.people-say-name{
    color: #18CFAB;
    margin-top: 37px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.people-say-category{
    color: #BBBBBB;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}
.people-say-photo-wrapper{
    width: 166px;
    margin: 50px auto;
    border: 12px solid rgba(31,218,181,0.2);
border-radius: 50%;
    overflow: hidden;
}
.people-say-photo{
    width: 100%;
    height: 100%;
}
.people-say-slider{
    display: flex;
    max-width: 483px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 98px;
}
.people-say-photos-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.people-say-photos-wrapper-hidden{
    display: none;
}
.people-say-small-photo-wrapper{
    margin-left: 13.5px;
    margin-right: 13.5px;
    border: 6px solid rgba(31,218,181,0.2);
    border-radius: 50%;
    overflow: hidden;
    transition: border 0.6s;
    cursor: pointer;
}

.people-say-small-photo-wrapper:hover{
    border: 6px solid rgba(24, 207, 171, 0.8);
}
.people-say-small-photo-wrapper.active{
    transition: 0.3s;
    border: 6px solid rgba(24, 207, 171, 0.8);
    transform: translate(0, -10px);
    cursor: auto;
}
.people-say-small-photo-wrapper.animation-right{
    transition: 0.6s;
    transform: translate(-98px);
}
.people-say-small-photo-wrapper.animation-left{
    transition: 0.6s;
    transform: translate(98px);
}
.people-say-small-photo-wrapper.new-element-right{
    position: absolute;
    top: 0;
    right: -98px;
}
.people-say-small-photo-wrapper.new-element-left{
    position: absolute;
    top: 0;
    left: -98px;
}
.people-say-small-photo{
    width: 60px;
    height: 60px;
}
.people-say-slide{
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    position: relative;
    background: none;
    transition: background-color 0.3s;
    cursor: pointer;
}
.people-say-slide::before{
    position: absolute;
    content: "";
    width: 8.5px;
    height:  2px;
    background-color: #BBBBBB;
    top: 11px;
    left: 10px;
    transform: rotate(45deg);
    transition: background-color 0.3s;
}
.people-say-slide::after{
    position: absolute;
    content: "";
    width: 8px;
    height:  2px;
    background-color: #BBBBBB;
    bottom: 11px;
    left: 10px;
    transform: rotate(-45deg);
    transition: background-color 0.3s;
}
.people-say-left-slide::before{
    transform: rotate(-45deg);
}
.people-say-left-slide::after{
    transform: rotate(45deg);
}
.people-say-slide:hover{
    background-color: #18CFAB;
}
.people-say-slide:hover::before{
    background-color: #FFF;
}
.people-say-slide:hover::after{
    background-color: #FFF;
}
.hidden{
    display: none;
}
.gallery-best-images{
    padding-top: 108px;
    position: relative;
    padding-bottom: 80px;
}
.gallery-tittle{
    margin-bottom: 115px;
}
.gallery-list{
    margin: 0 0 32px 0;
    list-style-type: none;
    padding-left: 0;
}
.gallery-list-hidden{
    display: none;
}
.gallery-item{
    width: 378px;
    margin-bottom: 20px;
    margin-left: 5.5px;
}
.gallery-item-gradient{
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);
    object-fit: cover;
}
.gallery-item:nth-of-type(3n){
    width: 363px;
    margin-left: 11px;
}
.gallery-item:nth-of-type(3n+1){
    margin-left: 2.5px;
}
.gallery-list-second{
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 124px 53px 62px 115px;
    justify-content: space-between;
}
.gallery-item-second{
    margin-bottom: 3px;
    position: relative;
}
.gallery-item-second:first-of-type{
   grid-area: 1/1/2/3;
}
.gallery-item-second:nth-of-type(2){
    grid-area: 1/3/2/5;
}
.gallery-item-second:nth-of-type(3n){
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-item-second:nth-of-type(3n+4){
     grid-column-start: 2;
     grid-column-end: 4;
 }
.gallery-img{
    object-fit: cover;
    width: 100%;
    max-height: 380px;
    transition: opacity 0.3s;
}
.big-img-close{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #14B9D5;
    border:none;
    transition: opacity 0.3s;
    top: 5px;
    right: 3px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.big-img-close::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #fff;
    top: 10px;
    right: 2px;
    transform: rotate(45deg);
    transition: opacity 0.3s;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.big-img-close::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #fff;
    top: 10px;
    right: 2px;
    transform: rotate(-45deg);
    transition: opacity 0.3s;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.big-img-wrapper:hover .big-img-close::before{
    visibility: visible;
    opacity: 1;
}
.big-img-wrapper:hover .big-img-close::after{
    visibility: visible;
    opacity: 1;
}
.big-img-wrapper:hover .big-img-close{
    visibility: visible;
    opacity: 1;
}
.gallery-search-icon,.gallery-increase-icon{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    background-color: #14B9D5;
    border:none;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.gallery-search-icon{
    top: 50%;
    left: 17.77%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-increase-icon{
    top: 50%;
    left: 43.88%;
    padding: 0;
    cursor: pointer;
}
.gallery-item:hover:not(.gallery-item.inner) .gallery-search-icon{
    visibility: visible;
    opacity: 1;
}
.gallery-item:hover:not(.gallery-item.inner) .gallery-increase-icon{
    visibility: visible;
    opacity: 1;
}
.gallery-item-second:hover .gallery-search-icon{
    visibility: visible;
    opacity: 1;
}
.gallery-item-second:hover .gallery-increase-icon{
    visibility: visible;
    opacity: 1;
}
.gallery-item:hover:not(.gallery-item.inner) .gallery-img{
    opacity: 0.36;
}
.gallery-item-second:hover .gallery-img{
    opacity: 0.36;
}
.loading-simulation.second{
    bottom: 115px;
}
.footer-copyright{
    background-color: #22353F;
    padding-top: 48px;
    padding-bottom: 48px;
}
.copyright-text{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    margin: 0;
}
.copyright-link{
    color: #18CFAB;
    text-decoration-line: none;
}
